{%  assign c = 'c-labelled-icon' %}

<div class="{{ c }} {% if icon_orientation == 'Horizontal' %} {{ c }}__horizontal {%  else  %} {{ c }}__Stacked {% endif %}">
    {% bookshop "generic/icon" bind:icon %}
    <p class="c-labelled-icon__text">{{ text }}</p>
</div>
