.c-custom-embed {
    aspect-ratio: var(--c-custom-embed-ratio);
    width: 100%;

    iframe {
        aspect-ratio: var(--c-custom-embed-ratio);
        width: 100%;
    }

    &--custom-max-width {
        max-width: var(--c-custom-embed-custom-max-width, 100%);
    }
}