.c-custom-embed {
    aspect-ratio: var(--c-custom-embed-ratio);
    width: 100%;
    display:flex;
    justify-content: center;

    iframe {
        border:none;
        aspect-ratio: var(--c-custom-embed-ratio);
        width: 100%;
    }
}