  <button class="{{ c }}__mobile__burger-menu" onclick="swapOpenState()">
    <div class="{{ c }}__mobile__burger-menu__burger"></div>
  </button>

    {% include 'partials/nav/navigation-list.html' %}


<script>
  function swapOpenState() {
    const mobileMenu = document.getElementById('mobile-menu');
    const openClass = "c-navigation__mobile--open";
    console.log(mobileMenu);
    if(mobileMenu.classList.contains(openClass)){
      mobileMenu.classList.remove(openClass);
    }
    else{
      mobileMenu.classList.add(openClass);
    }
  } 
</script>