<ul class="{{ c }}__navlist">
  {% for navitem in nav.navigation_items %}
    {% assign nav_item_with_slash = navitem.link_url | append: "/" %}
    {% if page.url == navitem.link_url or page.url == nav_item_with_slash %}
      <li class="{{ c }}__list__item {{ c }}__item--active" aria-current="page">
        <a class="{{ c }}__list__item__link" href="{{ navitem.link_url }}">{{ navitem.label }}</a>
      </li>
    {% else %}
      <li class="{{ c }}__list__item">
        <a class="{{ c }}__list__item__link" href="{{ navitem.link_url }}">{{ navitem.label }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

