{% assign c = "c-navigation" %}

<head>
    <nav class="{{c}}" aria-label="Main menu" id="main-menu">

        <a class="{{c}}__logo-link" href="/" aria-label="Home" {% if page.url=="/" %}aria-current="page" {% endif %}>
            {% if nav.navigation_heading %}
                <span class="{{c}}__logo-link__text">{{ nav.navigation_heading }}</span>
            {% else %}
                <img class="{{c}}__logo-link__image" src="{{nav.logo_image}}" alt="Site logotype" />
            {% endif %}
        </a>

        <button class="{{ c }}__burger-menu" onclick="swapOpenState()">
            <div class="{{ c }}__burger-menu__burger"></div>
        </button>

        <ul class="{{ c }}__navlist">
            {% for navitem in nav.navigation_items %}
                {% assign nav_item_with_slash = navitem.link_url | append: "/" %}
                {% if page.url == navitem.link_url or page.url == nav_item_with_slash %}
                    <li class="{{ c }}__navlist__item {{ c }}__navlist__item--active" aria-current="page">
                        <a class="{{ c }}__navlist__item__link" href="{{ navitem.link_url }}">{{ navitem.label }}</a>
                    </li>
                {% else %}
                    <li class="{{ c }}__navlist__item">
                        <a class="{{ c }}__navlist__item__link" href="{{ navitem.link_url }}">{{ navitem.label }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="{{ c }}__social-icons">
            {% comment %}
            TODO: social-icons go here
            {% endcomment %}
        </div>
    </nav>
</head>

<script> //TODO: move to bundle
    function swapOpenState() {
        const nav = document.getElementById('main-menu');
        const body = document.getElementsByTagName('body')[0];
        const openClass = "c-navigation--open";
        const noScrollClass = 'body--no-scroll'
        if (nav.classList.contains(openClass)) {
            nav.classList.remove(openClass);
            body.classList.remove(noScrollClass);
        }
        else {
            nav.classList.add(openClass);
            body.classList.add(noScrollClass);
        }
    } 
</script>