{%  assign_local c = 'c-simple-text-block' %}


<section class='{{c}} component 
{% if styles.background_variant == 'secondary' %} 
    component--secondary
{% endif %} '>
    <div class='{{c}}__content'>
        {% bookshop "generic/component-heading" bind:content.heading %}
        {% bookshop "generic/text-block" bind:content.text %}
    </div>
</section>
