{%  assign c = 'c-simple-text-block' %}

<div class='{{c}}--container'>
    <div class={{c}}>
        {% bookshop "generic/component-heading" bind:heading %}
        {% bookshop "generic/text-block" bind:content %}
    </div>
</div>