{% assign google_fonts = '' | split: '' %}

{% for font in fonts %}
  {% assign google_fonts = google_fonts | push: font.font_title %}
{% endfor %}

{% assign google_fonts = google_fonts | uniq %}
{% assign count = 0 %}
{% assign font_string = '' %}

{% for font in google_fonts %}
  {% assign stripped_font = font | replace: ' ', '+' %}
  {% assign stripped_font = stripped_font | append: ':wght@100;200;300;400;500;600;700;800;900' %}
  {% if forloop.last %}
    {% assign font_string = font_string | append: stripped_font %}
  {% else %}
    {% assign font_string = font_string | append: stripped_font | append: '&family=' %}
  {% endif %}
  {% assign count = count | plus: 1 %}
{% endfor %}

{% if count > 1 %}
  {% assign font_string = font_string | append: '&display=swap' %}
{% endif %}

<link href="https://fonts.googleapis.com/css2?family={{ font_string }}" rel="stylesheet">