.c-custom-icon {
  border: none;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &--round {
    border-radius: 50%;
    border-color: var(--c-custom-icon-color, #fff);
    border-style: solid;
  }

  &--round.c-custom-icon--large {
    padding: 0.95rem;
    border-width: 0.125rem;
  }

  &--round.c-custom-icon--small {
    padding: 0.4rem;
    border-width: 0.063rem;
  }

  &--large {
    width: 4.375rem;
    height: 4.375rem;
  }

  &--small {
    width: 2rem;
    height: 2rem;
  }

  &--outline {
    .c-custom-icon__svg {
      stroke: var(--c-custom-icon-color, #fff);
    }
  }
  &--solid {
    .c-custom-icon__svg {
      fill: var(--c-custom-icon-color, #fff);
    }
  }

  &__image {
    background: var(--c-custom-icon-color);
    width: 100%;
    height: 100%;
    mask: var(--url);
    -webkit-mask: var(--url);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
  }
}
