.c-phone-input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--brand-grey-000, #F9F9FB);

    &__label {
        font-size: var(--label);
        line-height: var(--line-height);
    }

    &__input {
        padding: 12px 16px;
        border-radius: 4px;
        border: 2px solid;
        background-color: transparent;
        color: var(--brand-grey-000, #F9F9FB);

        &::placeholder {
            opacity: 1;
            color: var(--brand-grey-400, #B6B6B8);
        }

        &:focus {
            border: 2px solid var(--interaction-blue-300, #2566F2);
            outline: none;
        }
    }

    &__helper {
        display: flex;
        gap: 8px;
        font-size: var(--paragraph-small);
        line-height: var(--line-height);
        color: var(--brand-grey-000, #F9F9FB);
    }
        
    &__error {
        display: none;
        color: var(--error-red-300, #BF2323);
        gap: 8px;
        font-size: var(--paragraph-small);
        line-height: var(--line-height);
    }
}