{%  assign c = 'c-image-card' %}
<div class={{c}}>
    {% if is_image %}
        {% bookshop "generic/image" bind:image %}
    {% elsif icon %}
        {% bookshop "generic/icon" bind:icon %}
    {% endif %}

    {% if heading %}{% bookshop "generic/component-heading" bind:heading %}{% endif %}

    <div class="{{c}}__content">{% bookshop "generic/text-block" text:content %}</div>
    <div>
        {% bookshop "generic/button" url:link_url text:'Book Now' variant:"secondary" disabled:false arrow:"right"%}
    </div>
</div>