.c-icon {
    &__round {
        border-radius: 50%;
        border-color: var(--neutral-000, #FFF);
    }
    
    &__big {
        width: 2.32044rem;
        height: 2.32044rem;
        padding: 1rem;
        border-style: solid;
        border-width: 1px;
        border-color: transparent;
    }

    &__small {
        width: 1.07419rem;
        height: 1.07419rem;
        padding: 0.46294rem;
        border-style: solid;
        border-width: 0.463px;
        border-color: transparent;
    }
}
