.c-icon {
    --icon-color: white;

    &__round {
        border-radius: 50%;
        border-color: var(--brand-grey-000, #FFF);
    }

    &:not(.c-icon__round) {
        border-color: transparent;
    }

    &__big {
        width: 4.314rem;
        height: 4.314rem;
        padding: 1rem;
        border-style: solid;
        border-width: 1px;
    }

    &__small {
        width: 2rem;
        height: 2rem;
        padding: 0.46294rem;
        border-style: solid;
        border-width: 0.463px;
    }

    &__svg {
        fill: var(--icon-color);
    }
}
