{% assign c = "c-COMPONENTNAME" %}
<div class="{{c}} 
            component 
            {% if include.background_variant == "Dark" %} 
                component--dark
            {% endif %}">
    <p>{{ text }}</p>
</div>