{% assign c = "c-COMPONENTNAME" %}
<div class="{{c}} 
                component 
                {% if styles.background_variant == "Dark" %} 
                    component--dark
                {% endif %}"><p>{{ text }}</p>
</div>