{% assign c = "c-COMPONENTNAME" %}
<div class="{{c}} 
            component 
            {% if styles.background_variant == "Dark" %} 
                component--secondary
            {% endif %}"><p>{{ text }}</p>
</div>