.c-left-right-block--featured-map {
    $c: &;
    display: grid;
    grid-template-columns: var(--twelve-column-grid);
    row-gap:48px;

    &.component{
      align-items:center;
      padding:0;
    }
  
    &__content {
      padding: 96px 0 0;
      grid-column: 2 / -2;
    }
  
    &__content-text {
      margin-bottom: 1.5rem;
      max-width: 32.0625rem;
      text-wrap: pretty;
    }
  
    &__content-wrapper {
      border-left: 0.0625rem solid var(--main-text-color);
      padding-left: 1.5rem;
      display:flex;
      flex-direction:column;
      align-items: flex-start;              

      .c-social-icons, .c-labelled-icon{
        justify-content:flex-start;

        p{
          text-align:left;
        }
      }
    }

    &__contact-details, &__contact-details--content{
      display:flex;
      flex-direction: column;      
    }
        
    &__contact-details{ 
      gap: 24px;       

      &--content{ gap:8px; }
    }
   
    &__map-wrapper {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      grid-column: 1 / -1;
      width:100%;     
      max-height:700px; 
    }
  
    // Desktop styles
    @media screen and (min-width: 769px) {
      &__content {
        padding: 96px 0;
        grid-column: 2 / 7;
      }
  
      &__map-wrapper {      
        height:100%; 
        max-width:700px; 
        grid-column: 8 / -1;
        justify-self:start;
      }
  
      &--map-left {
        #{$c}__content {
          grid-column: 9 / -2;
        }
  
        #{$c}__map-wrapper {
          grid-column: 1 / 8;
          justify-self:end;
          grid-row: 1;
        }
      }
    }
}