.c-footer {
  $c: &;
  background: var(--brand-grey-900, #1b1b1d);
  padding: 3.5rem 1rem;
  display: grid;
  gap: 1rem;
  place-items: center;

  &__logo-link {
    text-decoration: none;
    color: var(--brand-grey-200, #e9e9ec);
    font-family: var(--logo-font), Lato, sans-serif;
    white-space: nowrap;
    font-size: 4.58025rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-wrap: wrap;
    white-space: normal;
    word-break: break-word;
    text-align: center;
  }
  &__navlist {
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    place-content: center;
    &__item {
      &__link {
        text-decoration: none;
        color: var(--brand-grey-200, #e9e9ec);
        white-space: nowrap;

        &:hover,
        &:active {
          border-bottom: 1px solid var(--brand-grey-000, #f9f9fb);
          color: var(--brand-grey-000, #f9f9fb);
        }
      }
      &--active {
        #{$c}__navlist__item__link {
          border-bottom: 1px solid var(--brand-grey-000, #f9f9fb);
          color: var(--brand-grey-000, #f9f9fb);
        }
      }
    }
  }

  &__content {
    padding-top: 7rem;
    text-align: center;
    color: var(--neutral-000, #FFF);

    a {
      color: var(--neutral-000, #FFF);
    }
  }
}
