@import "reset.css";
@import "variables.scss";
@import "nav.scss";
@import "footer.scss";
@import "component-browser.scss";

body {
  display: grid;
  grid-template-columns: var(--twelve-column-grid);
  min-height: 100svh;
  grid-template-rows: auto 1fr auto;
  font-family: var(--content-font), Lato, sans-serif;
  color: var(--main-text-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading-font), Lato, serif;
  }
}

header,
footer,
main {
  grid-column: 1 / -1;
}

// Default styles applied to all components
// Component-specific styles are defined within their component directory
.component {
  padding: 96px 0px;
  background-color: var(--main-background-color);

  &--secondary {
    --main-background-color: var(--secondary-background-color, #1B1B1D);
    --main-text-color: var(--secondary-foreground-color, #D9D9DC);
    --alt-background-color: var(--primary-background-color, #3B3B3D);
    --alt-text-color: var(--primary-foreground-color, #F9F9FB);
  }

  &--full-height {
    padding: 0;
  }
}
