.c-navigation {
  $c: &;
  display: grid;
  grid-template-columns: var(--twelve-column-grid);
  grid-template-rows: var(--nav-height) 1fr auto;
  height: auto;
  background: var(--header-color);
  --nav-padding: 8px;

  &__logo-link {
    grid-column: 2 / -3;
    text-decoration: none;
    color: var(--brand-grey-200, #e9e9ec);
    font-family: var(--logo-font), Lato, sans-serif;
    font-size: 2rem;
    line-height: 3.75rem;
    white-space: nowrap;
    &__image {
      height: 100%;
      width: auto;
      padding-top: var(--nav-padding);
      padding-bottom: var(--nav-padding);
    }
  }

  &__social-icons {
    grid-column: 2 / 14;
    justify-self: center;
    display: none;
  }

  &__navlist {
    list-style-type: none;
    padding: 0;
    grid-row: 2 / 3;
    grid-column: 2 / -2;
    justify-self: center;
    align-self: center;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    &__item {
      &__link {
        text-decoration: none;
        color: var(--brand-grey-200, #e9e9ec);
        white-space: nowrap;

        &:hover,
        &:active {
          border-bottom: 1px solid var(--brand-grey-000, #f9f9fb);
          color: var(--brand-grey-000, #f9f9fb);
        }
      }
      &--active {
        #{$c}__navlist__item__link {
          border-bottom: 1px solid var(--brand-grey-000, #f9f9fb);
          color: var(--brand-grey-000, #f9f9fb);
        }
      }
    }
  }

  &__burger-menu {
    grid-column: 13 / 14;
    background-color: unset;

    display: flex;
    align-items: center;
    border: none;
    position: relative;
    height: 36px;
    width: 30px;
    align-self: center;
    justify-self: end;

    &:hover {
      cursor: pointer;
    }

    &__burger {
      transition: background-color 0.1s;
      content: "";
      position: absolute;
      left: 0;
      height: 3px;
      width: 30px;
      border-radius: 15px;
      background-color: #ffff;

      &::before {
        transition: all 0.18s;
        top: -8px;
        content: "";
        position: absolute;
        left: 0;
        height: 3px;
        width: 30px;
        border-radius: 15px;
        background-color: #ffff;
      }

      &::after {
        transition: all 0.18s;
        top: 8px;
        content: "";
        position: absolute;
        left: 0;
        height: 3px;
        width: 30px;
        border-radius: 15px;
        background-color: #ffff;
      }
    }
  }

  // Mobile menu open state
  &--open {
    grid-template-rows: var(--nav-height) 1fr 140px;
    height: 100svh;
    #{$c}__burger-menu {
      &__burger {
        &::before {
          transform: rotate(45deg);
          background-color: #ffff;
          top: 0;
        }

        &::after {
          transform: rotate(-45deg);
          background-color: #ffff;
          top: 0;
        }

        background-color: transparent;
      }
    }

    #{$c}__social-icons {
      display: block;
    }

    #{$c}__navlist {
      display: flex;
    }
  }

  @media screen and (min-width: 768px) {
    height: auto;
    grid-template-rows: var(--nav-height) var(--nav-height) auto;

    &__social-icons {
      display: block;
      justify-self: flex-end;
      align-self: center;
      grid-row: 1 / 2;
    }

    &__logo-link {
      grid-row: 2 / 3;
      grid-column: 2 / 5;
    }

    &__navlist {
      display: block;
      grid-row: 2 / 3;
      grid-column: 5 / -2;
      height: auto;
      display: flex;
      gap: 1.5rem;
      justify-self: end;
      flex-direction: row;
    }

    &__burger-menu {
      display: none;
    }
  }
}
