.c-navigation{
    display: grid;
    grid-template-columns: var(--twelve-column-grid);

    background: var(--feature-image-opacity);
    &__social-icons{
        display: none;
        @media screen and (min-width: 768px ) {
            display: block;
            grid-column: 2 / 14;
            background-color: purple;
            height: 30px;
        }
        
    }
    &__logo-link{
        grid-column: 2 / 5;

        @media screen and (min-width: 768px ) {
            grid-column: 2 / 4;
        }

        &__image{
            width: 100%;
        }

    }
    &__list{
        list-style-type: none;
        display: flex;
        padding: 0;

        @media screen and (min-width: 768px ) {
            justify-content: flex-end;
            gap: 2rem;
        }

        &__item{

            &__link{
                text-decoration: none;
            }

        }

    }
    &__mobile{
        background-color: purple;
        grid-column: 13 / 14;

        @media screen and (min-width: 768px ) {
            display: none;
        }

        &__burger-menu{
            height: 50px;
            background-color: green;
            grid-column: 13 / 14;
            @media screen and (min-width: 768px ) {
                display: none;
            }
        }

        &__nav-list{
            display: none;
        }

    }

    &__desktop{
        display: none;

        @media screen and (min-width: 768px ) {
            display: block;
            grid-column: 5 / 14;

        }

    }
}