.c-gallery {
    display: grid;
    gap: 48px;
    place-items: center;

    &__tiles {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 24px;

        &__tile {
            aspect-ratio: 1 / 1;
            .c-image,
            .c-image--live-editing,
            picture {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }

            &--hidden {
                display: none;
            }
        }

        @media screen and (min-width: 769px) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (min-width: 1024px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}