.c-component-heading {
    color: var(--brand-grey-000, #F9F9FB); 
    background: var(--brand-grey-900, #1B1B1D);
    display: grid;
    grid-template-columns: var(--twelve-column-grid);
    gap: 0.5rem;
    width: 27.9375rem;

    @media (min-width: 1279px){
        width: var(--tablet, 48rem);
    }

    &--eyebrow_heading {

        grid-column: 2 / -2;

        /* Heading/Eyebrow heading */
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
        letter-spacing: 4px;
        text-transform: uppercase; 

        @media (min-width: 1279px){
            grid-column: 3 / -3;
        }

        &-center {
            text-align: center;

            @media (min-width: 1279px){
                grid-column: 4 / -4;
            }
        }
    }

    &--primary_heading {
        grid-column: 2 / -2;

        @media (min-width: 1279px){
            grid-column: 3 / -3;
        }

        font-feature-settings: 'clig' off, 'liga' off;
        /* Heading/Large */
        font-family: Lato;
        font-size: 39.06px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        &-center {
            text-align: center;

            @media (min-width: 1279px){
                grid-column: 4 / -4;
            }
        }
    }



        
    
}