.c-button {
  --_button-color: var(--brand-grey-000, #f9f9fb);

  all: unset;
  padding: 1rem 0.75rem;
  color: var(--_button-color);
  font-size: var(--buttonh);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height);
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;

  &:focus {
    outline: 2px solid var(--interaction-blue-300, #2566f2);
    outline-offset: -2px;
  }

  &:hover {
    cursor: pointer;
  }

  &--primary {
    border: 2px solid var(--_button-color);
    &:hover {
      --_button-color: var(--brand-grey-900, #1b1b1d);
      border: 2px solid var(--_button-color);
      background: var(--brand-grey-000, #f9f9fb);
    }
  }

  &[disabled] {
    --_button-color: var(--brand-grey-600, #6e6e70);
    pointer-events: none;
    &:hover {
      cursor: default;
      text-decoration: none;
      background-color: unset;
    }
  }

  &--secondary {
    &:hover {
      text-decoration: underline;
    }
  }

  .c-icon__image, .c-icon__svg {
      --c-icon-color: var(--_button-color);
  }
}
